input[type="checkbox"] {
    display: none;
    }

.bi {
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .bi-moon {
    display: none;
  }


header {
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
  }

  .dark,
.dark header {
  background-color: #000;
  color: #fff;
}
.dark input{
  background-color: #000;
  color: #b6b6b6;
}
.dark select{
  background-color: #000;
  color: #b6b6b6;
}

.dark .container{
  box-shadow: 1px 1px 10px rgba(216, 213, 213, 0.486);
}

.dark .bi-sun {
  display: none;
}

.dark .bi-moon {
  display: block;
}
